<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'users/user', user: @user %>
      <%= render 'books/book', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></td>
            <td><%= link_to @user.name, user_path(@user) %></td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.favorited_by?(current_user) %>
              <td>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"><%= @book.favorites.count %></i>
                  <% end %>
              </td>
            <% else %>
              <td>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                     <i class="fa fa-heart" aria-hidden="true"><%= @book.favorites.count %></i>
                  <% end %>
              </td>
            <% end %>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <% if @book.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table>
          <tbody id="comment_area">
            <%= render 'book_comments/comment_index', book: @book %>
          </tbody>
      </table>
      <div  class = "comment_form">
        <%= form_with(model:[@book, @comment],local:true) do |f| %>
        <!--配列でインスタンス変数を2つ指定。コメントは、@bookに結びついた@commentだから-->
         <div>
          <%= f.text_area :comment, rows: '5', class: "textbox", placeholder: "コメントをここに" %>
         </div>
          <!--rowはtext_areaの高さ、初期値は2-->
         <div>
          <%= f.submit "送信する", class: "form_submit btn btn-lg btn-base-1 mt-20 pull-right" %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
